body {
   font-family: "Inter", sans-serif;
   line-height: normal;
    background-color:#F8FAFC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head {
    margin: 0;
    text-align: center;
    padding: 25px 0px;
    background-color: #ffffff;
     text-align: center;
     width: 100%;
}



.section1 {
     margin-left: 0;
     margin-right: 0;
     padding-top: 20px;
}

h1 {
    font-size: 2.25rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

p{
    font-size: 1rem;
    font-weight: 400;
}



.order-list {
  padding-left: 22px; 
   font-size: 1rem;
   font-weight: 400;
}